@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	height: 100vh;
}

#root {
	height: 100%;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
